@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/*Primary*/
$paleblue:hsl(225, 100%, 94%);
$brightblue:hsl(245, 75%, 52%);

/*Neutral*/
$verypaleblue:hsl(225, 100%, 98%);
$desaturatedblue:hsl(224, 23%, 55%);
$darkblue:hsl(223, 47%, 23%);

$bodycopy: 16px;

.attribution { 
    font-size: 11px;
    width: 100%;
    text-align: center;   
    position: absolute;
    bottom: 30px; 
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $paleblue;
    font-family:'Red Hat Display';
}

.card {
    max-width: 350px;
    background-color: #fff;
    border-radius: 30px;
    position:absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
 
    &__image {
        width: 100%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    &__heading {
        font-weight: 900;
        padding: 25px 0 10px 0;
    }

    &__body {
        font-size: $bodycopy;
        color:$desaturatedblue;
        text-align: center;
    }

    &__plan {
        padding: 15px;
        margin: 30px 0px 20px 0px;
        width: 80%;
        background-color: $verypaleblue;
        border-radius: 10px;
        display: flex;
        align-items: center;
    }

    &__cost {
        margin: 0px 60px 0px 20px;
        text-align: center;
    }

    &__body--bold {
        font-weight: 900;
        color: darkblue;

    }

    &__link {
        font-size: 14px;
        font-weight: 800;
        color: $brightblue;
    }

    &__cta-btn {
        background-color: $brightblue;
        padding: 15px 85px;
        border-radius: 10px;
        border: none;
        color: #fff;
        font-weight: 800;
        box-shadow: 0px 15px 12px hsl(245, 75%, 90%);
    }

    &__cancel-btn {
        text-decoration: none;
        color: $desaturatedblue;
        font-weight: 800;
        padding: 30px;
    }
}

.card__link:hover {
    text-decoration: none;
    color: hsl(245, 75%, 65%);
}

.card__cta-btn:hover {
    background-color: hsl(245, 75%, 65%);
    cursor: pointer;
}

.card__cancel-btn:hover {
    color: $darkblue;
}



@media only screen and (min-width: 375px) {

}
